<div class="socials">
  <a href="https://twitter.com/sdevgill" target="_blank"><i class="fa-brands fa-twitter fa-xl fa-icons"></i></a>
  <a href="https://github.com/sdevgill" target="_blank"><i class="fa-brands fa-github fa-xl fa-icons"></i></a>
  <a href="https://www.linkedin.com/in/sdevgill" target="_blank"><i
      class="fa-brands fa-linkedin fa-xl fa-icons"></i></a>
</div>
