<div class="socials">
  <a href="https://twitter.com/sdevgill" target="_blank" title="My Twitter">
    <i class="fa-brands fa-twitter fa-xl fa-icons"></i>
  </a>
  <a href="https://github.com/sdevgill" target="_blank" title="My GitHub">
    <i class="fa-brands fa-github fa-xl fa-icons"></i>
  </a>
  <a href="https://www.linkedin.com/in/sdevgill" target="_blank" title="My LinkedIn">
    <i class="fa-brands fa-linkedin fa-xl fa-icons"></i>
  </a>
  <a href="mailto:dev@email.com" target="_blank" title="Say hello">
    <i class="fa-solid fa-paper-plane fa-xl"></i>
  </a>
</div>
