<nav class="nav">
  <ul class="left-nav">
    <li><a href="/" class="nav-item logo">{{ site.title }}</a></li>
  </ul>
  <ul class="center-nav">
    <li><a href="/blog" class="nav-item">Blog</a></li>
    <li><a href="/about" class="nav-item">About</a></li>
    <li><a href="/contact" class="nav-item">Contact</a></li>
  </ul>
  <ul class="right-nav socials">
    <a href="https://twitter.com/sdevgill" target="_blank" title="My Twitter">
      <i class="fa-brands fa-twitter fa-lg fa-icons"></i>
    </a>
    <a href="https://github.com/sdevgill" target="_blank" title="My GitHub">
      <i class="fa-brands fa-github fa-lg fa-icons"></i>
    </a>
    <a href="https://www.linkedin.com/in/sdevgill" target="_blank" title="My LinkedIn">
      <i class="fa-brands fa-linkedin fa-lg fa-icons"></i>
    </a>
    <a href="mailto:dev@email.com" target="_blank" title="Say hello">
      <i class="fa-solid fa-paper-plane fa-lg"></i>
    </a>
  </ul>
</nav>
