<nav class="nav">
  <ul class="left-nav">
    <li><a href="/" class="nav-item logo">{{ metadata.title }}</a></li>
  </ul>
  <ul class="center-nav">
    <li><a href="/blog" class="nav-item">Blog</a></li>
    <li><a href="/about" class="nav-item">About</a></li>
    <li><a href="/contact" class="nav-item">Contact</a></li>
  </ul>
  <ul class="right-nav socials">
    <a href="https://twitter.com/sdevgill" target="_blank"><i class="fa-brands fa-twitter fa-lg fa-icons"></i></a>
    <a href="https://github.com/sdevgill" target="_blank"><i class="fa-brands fa-github fa-lg fa-icons"></i></a>
    <a href="https://www.linkedin.com/in/sdevgill" target="_blank"><i class="fa-brands fa-linkedin fa-lg fa-icons"></i></a>
  </ul>
</nav>
