/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Defaults */
:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Global styles */
html {
  margin: 0 auto;
  max-width: 1280px;
}

body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}

.nav a {
  text-decoration: none;
}

.left-nav,
.center-nav,
.right-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.center-nav {
  margin-right: -40px;
}

.nav-item {
  transition: 0.1s ease-in;
  font-weight: 500;
}

.nav-item:hover {
  color: #0087ca;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.socials a:hover {
  color: #0087ca;
}

/* Page */
.post-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto;
  max-width: 650px;
}

.post-title {
  margin: 0 10px 45px 10px;
  text-align: center;
}

.post-body {
  margin: 0 20px;
  line-height: 1.5;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

footer .socials a {
  margin: 0 10px;
}

/* Media Queries */
@media screen and (max-width: 650px) {
  .nav {
    flex-direction: column;
    margin: 25px 0;
  }

  .left-nav,
  .center-nav,
  .right-nav {
    gap: 30px;
  }

  .right-nav {
    margin-top: 20px;
  }

  .center-nav {
    margin-right: 0;
    margin-top: 20px;
  }

  .post-entry {
    margin: 60px auto;
  }
}

@media (prefers-color-scheme: dark) {

  .nav-item,
  a {
    color: white;
  }

  body {
    background: black;
    color: white;
  }
}
