---
title: Blog - Dev Gill
layout: layouts/base.njk
cssFile: blog.css
---
<section class="intro">
  <h1>Meditations on coding, life and the universe.</h1>
</section>

<section class="new-post">
  {# <a href="{% url 'blog_new' %}">+ Add a new post</a> #}
</section>

<main class="main">
  {% for post in collections.post | reverse %}
    <article class="post-entry">
      <span class="date-entry">{{ page.date | shortDate }}</span>
      <h2 class="post-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      <span class="read-time">1 min read</span>
    </article>
  {% endfor %}
</main>
