---
title: Contact Dev
layout: layouts/base.njk
cssFile: page.css
---
<article class="post-entry">
  {# <img class="headshot" src="{% static 'images/headshot.png' %}" alt=""> #}
  <h1 class="post-title">Contact Dev</h1>
  <p class="post-body">You can find me on the socials below.</p>
  <p class="post-body">Or just email me: dev at gill.fyi</p>
</article>
